<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cumulus</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
<meta name="learning/config/environment" content="%7B%22namespace%22%3A%22v/1%22%2C%22modulePrefix%22%3A%22learning%22%2C%22environment%22%3A%22production%22%2C%22baseURL%22%3A%22/v1%22%2C%22locationType%22%3A%22hash%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%7D%2C%22APP%22%3A%7B%22name%22%3A%22learning%22%2C%22version%22%3A%220.0.0.f7caeffc%22%7D%2C%22host%22%3A%22http%3A//cumulus-beta.herokuapp.com%22%2C%22exportApplicationGlobal%22%3Afalse%7D" />

    <link rel="stylesheet" href="/ember-assets/v1/vendor-2bcc768739cd6e18e207b10cde153148.css">
    <link rel="stylesheet" href="/ember-assets/v1/learning-da3fecdb40da4100db7226e6e249d83e.css">

    
  <%= csrf_meta_tags %></head>
  <body><%= yield %>
    

    <script src="/ember-assets/v1/vendor-2ba81598e5ac422014e6f16e29318969.js"></script>
    <script src="/ember-assets/v1/learning-041c8a9ea48c94e11b0dd8c76db1f80d.js"></script>

    
  </body>
</html>
