<div class = "ui inverted purple menu">
	<div class = "ui left floated item"> 
		<i class="cloud icon" />
		{{#link-to 'index'}} Cumulus {{/link-to}}
	</div>
	<div class = "ui right floated item"> Login </div>

	<form {{action "search" query on="submit"}} class="ui item centered form" style="width: 50%">
		<div class="ui small left icon input">
		  <i class="search icon"></i>
		  {{input class="ui left icon" value=query placeholder="What do you want to learn?"}}	
		</div>
	</form>

</div>


<div class = "ui centered page grid">
<div class = "sixteen wide column">
{{outlet}}
</div>
</div>