<div class="ui segment">
{{#if nodes_exist}}
	<div class="ui header"> Results (double click to go to topic page) </div>
	{{view "topic-graph" nodes=graph_nodes edges=graph_edges}} 
{{else}}
	<div class="ui header"> No results </div>
{{/if}}
</div>

<div>
{{outlet}}
</div>