<div class="ui segment">
{{#if nodes_exist}}
	<div class="ui large centered header"> 
	  <i class="small idea icon" />
	  <div class="content">
	  	Results 
	  </div>
	</div>
	{{view "topic-graph" nodes=model}} 
{{else}}
	<div class="ui centered header"> No results </div>
{{/if}}
</div>

<div>
{{outlet}}
</div>