
<div class="ui centered header"> {{name}} </div>

<div class="ui link list">
	{{#each link in links}}
			<a target="_blank" {{bind-attr href="link.url"}}>{{link.title}}</a>
	{{/each}}
</div>

{{outlet}}